@layout('layouts/main')
@set('title', 'Checkout page')

@section('body')
  <section class="checkout__section">
    <div class="checkout__form" id="checkout">Please wait</div>
    <div class="checkout__order-details">
      @!component('components/orderDetails', {
        cart: cart
      })
    </div>
  <section>
@end
